html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
font-weight: inherit;
font-style: inherit;
font-family: inherit;
font-size: 100%;
vertical-align: baseline;
margin: 0;
padding: 0;
border: 0;
outline: 0;
line-height: 1;
color: #000;
background: #fff;
border-collapse: separate;
border-spacing: 0;
vertical-align: middle;
text-align: left;
font-weight: normal;
vertical-align: middle;
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font: 16px/20px Georgia, serif;
  color: #6a7783;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  background-image: url("images/bg.png");
}
.wrapper {
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 140px;
  padding: 20px 0 40px;
  position: relative;
}
.header__logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 40px;
}
.header__text {
  font-size: 13px;
  line-height: 15px;
  margin: 0 350px 0 240px;
}
.header__cite {
  color: #c06458;
  display: block;
  text-align: right;
  padding-top: 3px;
}
.authorization {
  position: absolute;
  top: 22px;
  right: 40px;
  background: #eee;
  width: 280px;
  height: 58px;
  text-align: center;
  color: #2a2a2a;
  font: 20px/56px 'PT Serif', serif;
}
.authorization__sep {
  padding: 0 15px;
  font-size: 14px;
  vertical-align: top;
}
.authorization__btn {
  cursor: pointer;
}
.authorization__btn:hover {
  color: #c06458;
}
.menu-top {
  height: 40px;
  background-color: #65727d;
  text-align: right;
  padding: 4px 40px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu-top__item {
  line-height: 36px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  padding: 0 0 125px;
  position: relative;
}
.middleafter {
  display: table;
  clear: both;
  content: '';
}
.container {
  width: 100%;
  float: left;
  overflow: hidden;
}
.content {
  padding: 0 0 0 345px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
  float: left;
  width: 325px;
  margin-left: -100%;
  position: relative;
  background: #b5e3ff;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  width: 1220px;
  margin: -125px auto 0;
  height: 125px;
  background: #bff08e;
  position: relative;
}
