html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
font-weight: inherit;
font-style: inherit;
font-family: inherit;
font-size: 100%;
vertical-align: baseline;
margin: 0;
padding: 0;
border: 0;
outline: 0;
line-height: 1;
color: #000;
background: #fff;
border-collapse: separate;
border-spacing: 0;
vertical-align: middle;
text-align: left;
font-weight: normal;
vertical-align: middle;
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  color: #6a7783;
  font: 16px/20px Georgia, serif;
  background-image: url("images/bg.png");
}
.wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 1220px;
  height: auto !important;
  height: 100%;
  background-color: #fff;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 140px;
  padding: 20px 0 40px;
  position: relative;
}
.header__logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 40px;
}
.header__text {
  font-size: 13px;
  line-height: 15px;
  margin: 0 350px 0 240px;
}
.header__cite {
  color: #c06458;
  display: block;
  text-align: right;
  padding-top: 3px;
}
.authorization {
  position: absolute;
  top: 22px;
  right: 40px;
  background: #eee;
  width: 280px;
  height: 58px;
  text-align: center;
  color: #2a2a2a;
  font: 20px/56px 'PT Serif', serif;
}
.authorization__sep {
  padding: 0 15px;
  font-size: 14px;
  vertical-align: top;
}
.authorization__btn {
  cursor: pointer;
}
.authorization__btn:hover {
  color: #487fae;
}
.authorization__btn_t_reg {
  color: #c06458;
}
.authorization__btn_t_reg:hover {
  color: #ea6554;
}
.menu-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 40px 0;
  height: 40px;
  background: #65727d url("images/bg-menu-top.png") repeat-x;
  text-align: right;
}
.menu-top__item {
  margin-left: 34px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
}
.menu-top__item:hover {
  color: #ea6554;
}
.menu-top__item:before {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background: url("images/site-icons.png") no-repeat;
  content: "";
}
.menu-top__item_t_ok:before {
  background-position: 0 0;
}
.menu-top__item_t_ok:hover:before {
  background-position: 0 -15px;
}
.menu-top__item_t_fb:before {
  background-position: -15px 0;
}
.menu-top__item_t_fb:hover:before {
  background-position: -15px -15px;
}
.menu-top__item_t_vk:before {
  background-position: -31px 0;
}
.menu-top__item_t_vk:hover:before {
  background-position: -31px -15px;
}
.menu-top__item_t_map:before {
  background-position: -46px 0;
}
.menu-top__item_t_map:hover:before {
  background-position: -46px -15px;
}
.dialog {
  background: #fff;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  position: relative;
  padding: 0 0 125px;
  width: 100%;
  zoom: 1;
}
.middle:before,
.middle:after {
  content: "";
  display: table;
}
.middle:after {
  clear: both;
}
.middleafter {
  display: table;
  clear: both;
  content: '';
}
.container {
  float: left;
  overflow: hidden;
  width: 100%;
}
.content {
  padding: 0 0 0 345px;
}
.main-hint {
  zoom: 1;
}
.main-hint:before,
.main-hint:after {
  content: "";
  display: table;
}
.main-hint:after {
  clear: both;
}
.main-hint__item {
  height: 189px;
  width: 25%;
  text-align: center;
  padding: 30px 30px 0;
  vertical-align: top;
  float: left;
}
.main-hint__num {
  color: #c06458;
  font-size: 25px;
  margin-bottom: 8px;
}
.main-hint__text {
  font-size: 14px;
}
.main-hint__img {
  height: 64px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
  position: relative;
  float: left;
  margin-left: -100%;
  width: 325px;
  background: #b5e3ff;
}
.m-menu {
  padding: 15px 0;
  margin: 0;
  background: #eee;
}
.m-menu__item {
  list-style: none;
  margin-bottom: 25px;
}
.m-menu__lnk {
  text-decoration: none;
  font: 20px/60px 'PT Serif', serif;
  color: #6a7783;
  display: block;
  border-left: 10px solid transparent;
  padding-left: 30px;
}
.m-menu__lnk:hover {
  color: #ea6554;
  background: #e1e2e3;
}
.m-menu__lnk_t_active,
.m-menu__lnk_t_active:hover {
  color: #fff;
  background: #6a7783 url("images/bg-1.png") repeat-y right;
  border-left: 10px solid #c06458;
}
.m-datepicker {
  background: #eee;
  margin: 15px 0;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  position: relative;
  margin: -125px auto 0;
  width: 1220px;
  height: 125px;
  background: #bff08e;
}
