@import 'node_modules/nib/lib/nib/'

global-reset()
reset-html5()

@import 'blocks/base'

*
  box-sizing(border-box)

html
  height 100%

body
  width 100%
  height 100%
  background-color #f6f6f6
  color base-font-color
  font $basefont/$baseline Georgia, serif
  background-image(url("images/bg.png"))

.wrapper
  margin 0 auto
  min-height 100%
  width 1220px
  height auto !important
  height 100%
  background-color #fff

/* Header
-----------------------------------------------------------------------------*/
@import 'blocks/header'
@import 'blocks/authorization'
@import 'blocks/menu-top'
@import 'blocks/dialog'

/* Middle
-----------------------------------------------------------------------------*/
.middle
  position relative
  padding 0 0 125px
  width 100%
  clearfix()

  &__all-width-content
    clearfix()

  &__header
    font-size 28px
    padding 24px 44px 0

  &__content
    padding 0 44px

.container
  float left
  overflow hidden
  width 100%

.content
  padding 0 0 0 325px

@import 'blocks/main-hint'
@import 'blocks/jcarousel'
@import 'blocks/inner'
@import 'blocks/finder'
@import 'blocks/helper'





/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar
  position relative
  float left
  margin-left -100%
  width 325px


@import 'blocks/m-menu'
@import 'blocks/m-datepicker'
@import 'blocks/news'

/* Footer
-----------------------------------------------------------------------------*/

@import 'blocks/footer'

