html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
 {
/*
 *
 * Variables
 */
/*Colors*/
/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
  *padding: 0 0 5px 145px;
  *line-height: 1.5;
  *margin-top: 0;
  *height: auto;
}
a {
  color: #c06458;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #944238;
  text-decoration: underline;
}
p {
  margin-bottom: 10px;
}
p small {
  font-size: 14px;
  color: #bfbfbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #404040;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  color: #bfbfbf;
}
h1 {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 40px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 40px;
}
h2 small {
  font-size: 14px;
}
h3,
h4,
h5,
h6 {
  line-height: 40px;
}
h3 {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 16px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  color: #bfbfbf;
  text-transform: uppercase;
}
ul,
ol {
  margin: 0 0 20px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 20px;
  color: #808080;
}
ul.unstyled {
  list-style: none;
  margin-left: 0;
}
dl {
  margin-bottom: 20px;
}
dl dt,
dl dd {
  line-height: 20px;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 10px;
}
hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}
strong {
  font-style: inherit;
  font-weight: bold;
}
em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}
blockquote {
  margin-bottom: 20px;
  border-left: 5px solid #eee;
  padding-left: 15px;
}
blockquote p {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  color: #bfbfbf;
}
blockquote small:before {
  content: '\2014 \00A0';
}
address {
  display: block;
  line-height: 20px;
  margin-bottom: 20px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
code {
  background-color: #fee9cc;
  color: rgba(0,0,0,0.75);
  padding: 1px 3px;
}
pre {
  background-color: #f5f5f5;
  display: block;
  padding: 9.5px;
  margin: 0 0 20px;
  line-height: 20px;
  font-size: 12px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
table {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  font-size: 16px;
  border-collapse: collapse;
}
table th,
table td {
  padding: 10px 10px 9px;
  line-height: 20px;
  text-align: left;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}
table td {
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top;
}
form {
  margin-bottom: 20px;
}
fieldset {
  margin-bottom: 20px;
  padding-top: 20px;
}
fieldset legend {
  display: block;
  padding-left: 150px;
  font-size: 24px;
  line-height: 1;
  color: #404040;
}
form .clearfix {
  margin-bottom: 20px;
  zoom: 1;
}
form .clearfix:before,
form .clearfix:after {
  content: "";
  display: table;
}
form .clearfix:after {
  clear: both;
}
label {
  padding-top: 6px;
  font-size: 16px;
  line-height: 20px;
  width: 130px;
  text-align: right;
  color: #404040;
}
form .input {
  margin-left: 150px;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 20px;
  padding: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
select {
  padding: initial;
}
input[type=checkbox],
input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
}
line-height: normal,
border: none,
input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}
select,
input[type=file] {
  height: 30px;
}
line-height: ($baseline * 1.5),
*margin-top: 4px,
select[multiple] {
  height: inherit;
  background-color: #fff;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #fff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input,
textarea {
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  transition: border linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: rgba(192,100,88,0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(192,100,88,0.6);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(192,100,88,0.6);
}
input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  color: #6a7783;
  font: 16px/20px Georgia, serif;
  background-image: url("images/bg.png");
}
.wrapper {
  margin: 0 auto;
  min-height: 100%;
  width: 1220px;
  height: auto !important;
  height: 100%;
  background-color: #fff;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 140px;
  padding: 20px 0 40px;
  position: relative;
}
.header__logo {
  display: block;
  position: absolute;
  top: 22px;
  left: 40px;
}
.header__text {
  font-size: 13px;
  line-height: 15px;
  margin: 0 350px 0 240px;
}
.header__cite {
  color: #c06458;
  display: block;
  text-align: right;
  padding-top: 3px;
}
.authorization {
  position: absolute;
  top: 22px;
  right: 40px;
  background: #eee;
  width: 280px;
  height: 58px;
  text-align: center;
  color: #2a2a2a;
  font: 20px/56px 'PT Serif', serif;
}
.authorization__sep {
  padding: 0 15px;
  font-size: 14px;
  vertical-align: top;
}
.authorization__btn cursor pointer:hover {
  color: #487fae;
}
.authorization__btn:hover {
  color: #487fae;
}
.authorization__btn_t_reg {
  color: #c06458;
}
.authorization__btn_t_reg:hover {
  color: #ea6554;
}
.menu-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px 40px 0;
  height: 40px;
  background: #65727d url("images/bg-menu-top.png") repeat-x;
  text-align: right;
}
.menu-top__item {
  margin-left: 34px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
}
.menu-top__item:hover {
  color: #ea6554;
  text-decoration: none;
}
.menu-top__item:before {
  position: relative;
  top: 2px;
  display: inline-block;
  margin-right: 6px;
  width: 14px;
  height: 14px;
  background: url("images/site-icons.png") no-repeat;
  content: "";
}
.menu-top__item_t_ok:before {
  background-position: 0 0;
}
.menu-top__item_t_ok:hover:before {
  background-position: 0 -15px;
}
.menu-top__item_t_fb:before {
  background-position: -15px 0;
}
.menu-top__item_t_fb:hover:before {
  background-position: -15px -15px;
}
.menu-top__item_t_vk:before {
  background-position: -31px 0;
}
.menu-top__item_t_vk:hover:before {
  background-position: -31px -15px;
}
.menu-top__item_t_map:before {
  background-position: -46px 0;
}
.menu-top__item_t_map:hover:before {
  background-position: -46px -15px;
}
.dialog {
  background: #fff;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  position: relative;
  padding: 0 0 125px;
  width: 100%;
  zoom: 1;
}
.middle:before,
.middle:after {
  content: "";
  display: table;
}
.middle:after {
  clear: both;
}
.middle__all-width-content {
  zoom: 1;
}
.middle__all-width-content:before,
.middle__all-width-content:after {
  content: "";
  display: table;
}
.middle__all-width-content:after {
  clear: both;
}
.middle__header {
  font-size: 28px;
  padding: 24px 44px 0;
}
.middle__content {
  padding: 0 44px;
}
.container {
  float: left;
  overflow: hidden;
  width: 100%;
}
.content {
  padding: 0 0 0 325px;
}
.main-hint {
  zoom: 1;
}
.main-hint:before,
.main-hint:after {
  content: "";
  display: table;
}
.main-hint:after {
  clear: both;
}
.main-hint__item {
  height: 189px;
  width: 25%;
  text-align: center;
  padding: 30px 30px 0;
  vertical-align: top;
  float: left;
}
.main-hint__num {
  color: #c06458;
  font-size: 25px;
  margin-bottom: 8px;
}
.main-hint__text {
  font-size: 14px;
}
.main-hint__img {
  height: 64px;
}
.jcarousel {
  position: relative;
  overflow: hidden;
  margin-bottom: 22px;
}
.jcarousel_t_card {
  margin: 0 60px;
  font-size: 14px;
}
.jcarousel__wrapper {
  position: relative;
  background: #eee;
  padding: 35px 0;
}
.jcarousel__header {
  background: #eee;
  margin-top: 25px;
}
.jcarousel>ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 20000em;
  list-style: none;
}
.jcarousel__item {
  position: relative;
  float: left;
  overflow: hidden;
  width: 895px;
  height: 350px;
}
.jcarousel__item_t_card {
  width: 530px;
  height: 200px;
  margin-right: 40px;
  padding: 25px 20px 20px 225px;
  background: #fff;
}
.jcarousel__img_t_card {
  width: 155px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.jcarousel__item-helper {
  position: absolute;
  bottom: 29px;
  left: 50%;
  display: block;
  padding: 0 30px;
  width: 250px;
  height: 50px;
  border: 3px solid #fff;
  background: rgba(192,100,88,0.8);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 43px;
  margin-left: -125px;
}
.jcarousel__item-helper:hover {
  background: rgba(234,101,84,0.8);
}
.jcarousel__author {
  color: #c06458;
  text-align: right;
}
.jcarousel__text {
  margin-bottom: 0;
}
.jcarousel__control {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  margin-top: -20px;
}
.jcarousel__control:before {
  display: block;
  margin: 10px auto;
  width: 11px;
  height: 17px;
  background: url("images/site-icons.png") no-repeat;
  content: "";
}
.jcarousel__control:hover {
  background-color: #6a7783;
}
.jcarousel__control_t_prev {
  left: 0;
}
.jcarousel__control_t_prev:before {
  background-position: -1px -30px;
}
.jcarousel__control_t_prev:hover:before {
  background-position: -1px -48px;
}
.jcarousel__control_t_next {
  right: 0;
}
.jcarousel__control_t_next:before {
  background-position: -19px -30px;
}
.jcarousel__control_t_next:hover:before {
  background-position: -19px -48px;
}
.jcarousel__control_t_prev.inactive {
  background-color: #fff;
}
.jcarousel__control_t_prev.inactive:before {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.jcarousel__control_t_prev.inactive:hover:before {
  background-position: -1px -30px;
}
.jcarousel__control_t_next.inactive {
  background-color: #fff;
}
.jcarousel__control_t_next.inactive:before {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.jcarousel__control_t_next.inactive:hover:before {
  background-position: -19px -30px;
}
.inner {
  padding: 0 40px 0 32px;
}
.finder {
  border: 2px solid #c06458;
  background: url("images/finder.jpg") no-repeat 0 -34px;
  padding: 152px 32px 0 38px;
  height: 475px;
}
.finder__label {
  font-size: 20px;
  color: #6a7783;
  line-height: 48px;
  width: 136px;
  display: inline-block;
  padding: 0;
}
.finder__label_t_left {
  text-align: left;
}
.finder__row {
  margin-bottom: 33px;
}
.finder__input,
.finder__input>input {
  font: 20px Georgia, serif;
  color: #3e454c;
  width: 307px;
  height: 46px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  vertical-align: top;
  color: #3e454c;
}
.finder__input:focus,
.finder__input>input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.finder__input-wrapper {
  position: relative;
  border: 1px solid #6a7783;
  width: 360px;
  height: 48px;
  padding: 0 15px;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  vertical-align: top;
}
.finder__input-wrapper img {
  padding-top: 12px;
}
.helper {
  list-style: none;
  font-size: 18px;
  padding: 27px 0;
}
.helper__item {
  display: block;
  text-decoration: underline;
  padding-bottom: 20px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
  position: relative;
  float: left;
  margin-left: -100%;
  width: 325px;
}
.m-menu {
  padding: 15px 0 0;
  margin: 0;
  background: #eee;
}
.m-menu__item {
  list-style: none;
  padding-bottom: 24px;
}
.m-menu__lnk {
  text-decoration: none;
  font: 20px/60px 'PT Serif', serif;
  color: #6a7783;
  display: block;
  border-left: 10px solid transparent;
  padding-left: 30px;
}
.m-menu__lnk:hover {
  color: #ea6554;
  background: #e1e2e3;
  text-decoration: none;
}
.m-menu__lnk_t_active,
.m-menu__lnk_t_active:hover {
  color: #fff;
  background: #6a7783 url("images/bg-1.png") repeat-y right;
  border-left: 10px solid #c06458;
}
.m-datepicker {
  background: #eee;
  margin: 20px 0;
  padding: 14px 0 24px;
}
.ui-datepicker {
  margin-left: 30px;
  background: #eee;
}
.ui-datepicker-title {
  font-size: 20px;
  color: #000;
}
.ui-datepicker-year {
  display: none;
}
.ui-datepicker th {
  font-weight: normal;
  color: #c06458;
  padding: 2px 0 4px;
  font-size: 11px;
  text-transform: uppercase;
}
.ui-datepicker td span,
.ui-datepicker td a {
  font-size: 15px;
  color: #6a7783;
  text-align: center;
  padding: 5px;
}
.ui-datepicker td a.ui-state-active {
  color: #fff;
  background: #c06458;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  top: 7px;
}
.ui-datepicker-prev .ui-icon,
.ui-datepicker-next .ui-icon {
  width: 18px;
  height: 18px;
  background: url("images/site-icons.png") no-repeat 2px -30px;
}
.ui-datepicker-next .ui-icon {
  background-position: -15px -30px;
}
.news {
  background: #eee;
  padding: 15px 20px 25px 40px;
}
.news__item {
  padding: 10px 0 5px;
}
.news__date {
  color: #3e454c;
  font-size: 18px;
  margin-bottom: 5px;
}
.news__header {
  color: #6a7783;
  font-size: 15px;
  text-decoration: underline;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  position: relative;
  margin: -125px auto 0;
  width: 1220px;
  height: 125px;
  background: #3e454c url("images/bg-2.png") repeat-x top;
  color: #fff;
  font-size: 14px;
  padding: 50px 200px 10px 40px;
}
.footer__copyright {
  position: absolute;
  right: 44px;
  top: 50px;
}
.footer__lnk {
  color: #fff;
}
