/*Colors*/

old-brick = #c06458
young-brick = #ea6554
bitumen = #65727d
storm = #487fae
wet-bitumen = #3e454c
light-bitumen = #e1e2e3

base-font-color = #6a7783
base-font = 'PT Serif', serif
web-symbols = 'Istok Web', sans-serif;

bg-block = #eee



