.finder
  border 2px solid old-brick
  background url("images/finder.jpg") no-repeat 0 -34px
  padding 152px 32px 0 38px
  height 475px

  &__label
    font-size 20px
    color base-font-color
    line-height 48px
    width 136px
    display inline-block
    padding 0

    &_t_left
      text-align left

  &__row
    margin-bottom 33px

  &__input,
  &__input>input
    font 20px Georgia, serif
    color wet-bitumen
    width 307px
    height 46px
    border none
    box-shadow none
    padding 0
    vertical-align top
    color wet-bitumen

    &:focus
      box-shadow none


  &__input-wrapper
    position: relative;
    border 1px solid base-font-color
    width 360px
    height 48px
    padding 0 15px
    border-radius 0
    display inline-block
    vertical-align top

    img
      padding-top 12px


