.footer
  position relative
  margin -125px auto 0
  width 1220px
  height 125px
  background wet-bitumen url("images/bg-2.png") repeat-x top
  color #ffffff
  font-size 14px
  padding 50px 200px 10px 40px

  &__copyright
    absolute right 44px top 50px

  &__lnk
    color #ffffff