.m-menu
  padding 15px 0
  margin 0
  background bg-block

  &__item
    list-style none

  &__lnk
    text-decoration none
    font 20px/60px base-font
    color base-font-color
    display block
    border-left 10px solid transparent
    padding-left 30px

    &_t_active,
    &:hover
      color #fff
      background base-font-color
      border-left 10px solid old-brick



