.m-menu
  padding 15px 0 0
  margin 0
  background bg-block

  &__item
    list-style none
    margin-bottom 25px

  &__lnk
    text-decoration none
    font 20px/60px base-font
    color base-font-color
    display block
    border-left 10px solid transparent
    padding-left 30px

    &:hover
      color young-brick
      background light-bitumen

    &_t_active,
    &_t_active:hover
      color #fff
      background base-font-color url("images/bg-1.png") repeat-y right
      border-left 10px solid old-brick






