.main-hint


  &__item
    height 189px
    width 25%
    text-align center
    padding 30px 30px 0
    vertical-align top
    float left

  &__num
    color old-brick
    font-size 25px
    margin-bottom 8px

  &__text
    font-size 14px

  &__img
    height 64px