.menu-top {
  height: 40px;
  background-color: bitumen;
  text-align: right;
  padding: 4px 40px 0;
  absolute: bottom 0 left 0 right 0;
}
.menu-top__item {
  line-height: 36px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
}
