.menu-top
  absolute bottom 0 left 0 right 0
  padding 4px 40px 0
  height 40px
  background bitumen url("images/bg-menu-top.png") repeat-x
  text-align right

  &__item
    margin-left 34px
    color #fff
    text-decoration none
    font-size 13px
    line-height 36px

    &:hover
      color young-brick

    &:before
      relative top 2px
      display inline-block
      margin-right 6px
      width 14px
      height 14px
      background url("images/site-icons.png") no-repeat
      content ""

  &__item_t_ok
    &:before
      background-position 0 0

    &:hover
      &:before
        background-position 0 -15px

  &__item_t_fb
    &:before
      background-position -15px 0

    &:hover
      &:before
        background-position -15px -15px

  &__item_t_vk
    &:before
      background-position -31px 0

    &:hover
      &:before
        background-position -31px -15px

  &__item_t_map
    &:before
      background-position -46px 0

    &:hover
      &:before
        background-position -46px -15px





