.news
  background bg-block
  padding 15px 20px 25px 40px

  &__item
    padding 10px 0 5px

  &__date
    color wet-bitumen
    font-size 18px
    margin-bottom 5px

  &__header
    color base-font-color
    font-size 15px
