.button
  color #ffffff
  background old-brick
  font 18px/35px Georgia, serif
  padding 0 20px
  border none
  vertical-align top
  position: relative;

  &:hover
    background young-brick

  &_t_storm
    background base-font-color

    &:hover
      background storm


