.finder
  border 2px solid old-brick
  padding 30px 32px 0 38px

  clearfix()


  &_t_main
    background url("images/finder.jpg") repeat-x 0 -34px
    padding-top 152px



  &__label
    font-size 20px
    color base-font-color
    line-height 48px
    width 136px
    display inline-block
    padding 0

    &_t_left
      text-align left

    &_t_right
      text-align right
      font-size 16px
      line-height 18px
      padding-right 16px

    &_t_str
      padding-top 10px

  &__row
    margin-bottom 33px

    &_t_last
      margin-bottom 46px

    &_t_small
      margin-bottom 25px

  &__input,
  &__input>input
    font 20px Georgia, serif
    color wet-bitumen
    width 100%
    height 46px
    box-shadow none
    padding 0 40px 0 15px
    vertical-align top
    color wet-bitumen
    border 1px solid base-font-color
    border-radius 0
    background bg-inp

    &:focus
      box-shadow none
      border-color base-font-color

  &__input-wrapper
    position: relative;
    width 360px
    height 48px
    padding 0
    margin-right 23px

    display inline-block
    vertical-align top

    img
      width 22px
      height 22px
      display block
      position absolute
      top 13px
      right 15px
      opacity .5

      &:hover
        opacity 1

  &__icon
    width 22px
    height 22px
    background url("images/site-icons.png") no-repeat -26px -105px
    display block
    position absolute
    top 13px
    right 15px
    opacity .5

    &:hover
      background-position -26px -105px
      opacity 1

    &.active
      background-position -26px -105px

  &__btn
    color #ffffff
    width 220px
    background old-brick
    font 20px/44px Georgia, serif
    border none
    vertical-align top
    position: relative;

    &:hover
      background young-brick

    &_t_icon
      padding-left 30px

    &_t_storm
      background-color base-font-color

      &:hover
        background storm

    &_t_load
      &:hover
        background old-brick

  &__btn-icon
    display block
    position: absolute;

    &_t_church
      left 12px
      top 9px
      width 19px
      height 25px
      background url("images/site-icons.png") no-repeat 0 -182px

    &_t_loader
      width 24px
      height 24px
      left 10px
      top 50%
      margin-top -16px
      display none

  &__select
    width 360px

@media screen and (max-width: 1220px)
  .finder
    padding 30px 16px 0 19px

    &_t_main
      padding-top 152px

    &__input-wrapper
      width 300px

@media screen and (max-width: 1140px)
  .finder
    &__input-wrapper
      width 290px


@media screen and (max-width: 1080px)
  .finder
    &__input-wrapper
      width 240px

@media screen and (max-width: 1000px)
  .finder
    &__input-wrapper
      width 220px