.m-datepicker
  margin 20px 0
  padding 14px 0 24px
  background bg-block

.ui-datepicker
  margin-left 30px
  background bg-block

.ui-datepicker-title
  color #000
  font-size  20px

.ui-datepicker-year
  display none

.ui-datepicker th
  padding 2px 0 4px
  color old-brick
  text-transform uppercase
  font-weight normal
  font-size 11px

.ui-datepicker td span,
.ui-datepicker td a
  padding 5px
  color base-font-color
  text-align center
  font-size 15px

.ui-datepicker td a.ui-state-active
  background old-brick
  color #ffffff

.ui-datepicker-prev,
.ui-datepicker-next
  top 7px

  .ui-icon,
  .ui-icon
    width 18px
    height 18px
    background url("images/site-icons.png") no-repeat 2px -30px

 .ui-datepicker-next
   .ui-icon
     background-position -15px -30px

@media screen and (max-width: 1220px)
  .ui-datepicker
    margin auto
