.main-hint
  clearfix()

  &__item
    float left
    padding 30px 2.46% 0
    width 25%
    min-height 189px
    vertical-align top
    text-align center

  &__num
    margin-bottom 8px
    color old-brick
    font-size 25px

  &__text
    font-size 14px

  &__img
    height 64px