.news
  padding 15px 20px 25px 40px
  background bg-block

  &__item
    padding 10px 0 5px

  &__date
    margin-bottom 5px
    color wet-bitumen
    font-size 18px

  &__header
    color base-font-color
    text-decoration underline
    font-size 15px
