.pagination
  display inline-block
  padding-left 0
  margin 20px auto
  & > li
    display inline

  &__wrapper
    text-align center

.pagination>li>a
  position relative
  float left
  line-height 40px
  min-width 40px
  color base-font-color
  text-decoration none
  background-color bg-block
  margin 0 5px
  position relative


.pagination>li>a:hover,
.pagination>li>a:focus
  color #fff
  background-color base-font-color
  border-color #ddd

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus
  z-index 2
  color #fff
  cursor default
  background-color base-font-color

.pagination>li:first-child a:before,
.pagination>li:last-child a:before
  display block
  margin 10px auto
  width 11px
  height 17px
  background url("images/site-icons.png") no-repeat
  content ""

.pagination>li:first-child a
  &:before
    background-position -1px -30px

.pagination>li:last-child a
  &:before
    background-position -19px -30px

.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus
  color #777
  cursor default
  border-color #ddd

  &:before
    opacity .5

  &:hover
    background bg-block

