.tiler

  &__header
    margin-bottom 18px

  &__body
    margin-bottom 30px

  &__row
    margin-bottom 10px
    clearfix()

  &__cell
    background bg-block
    line-height 40px
    padding 0 15px
    float left
    width 100%

    &_t_normal
      width 49%
      margin-left 2%

      &:first-child
        margin-left 0

    &_t_small
      width 32%
      margin-left 2%

      &:first-child
        margin-left 0